/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), serif;
  background-color: var(--background-color);
  background-image: var(--background);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-color);
}

.header {
  border: 2px solid var(--main-color);
  margin: 100px auto;
  background-color: var(--background-color);
  width: min(100%, 700px);
  height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
  font-family: "PressStart2P";
  display: grid;
  gap: 25px;
  grid-template-rows: 2fr 1fr;
}

.logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-self: center;
  align-self: end;
}

.title {
  text-transform: uppercase;
  font-size: clamp(2.875rem, 2.457rem + 1.784vw, 4.063rem);
}
.mini-title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
}

.theme-menu {
  align-self: top;
  justify-self: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  animation: arrow 1s ease-in-out infinite;
}

.card__list {
  width: min(100%, 700px);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-color);
}

.card__text-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.img-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.card__img {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

.img-filter-sepia {
  filter: sepia(90%);
}

.img-filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.img-filter-gray-scale {
  filter: grayscale(80%);
}

.img-filter-saturate {
  filter: saturate(300%);
}

.img-filter-negative {
  filter: invert(80%);
}

.img-filter-blur {
  filter: blur(10px);
}

.img-filter-brightness {
  filter: brightness(80%);
  filter: contrast(70%);
  filter: sepia(50%);
  filter: hue-rotate(180deg);
}

.wathermark {
  margin-top: 25px;
  margin-right: 13px;
  align-self: top;
  justify-self: right;
  font-size: 14px;
  font-family: var(--accent-font);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  color: var(--main-color);
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
  background-blend-mode: hard-light;
  opacity: 0.5;
}

.card__button {
  background-color: transparent;
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  gap: 12px;
  margin: 0 25px 25px 0;
}

.card__icon-button {
  background-color: transparent;
  height: 38px;
  border: 2px solid transparent;
}

.card__icon-button:focus-visible {
  animation: like-focus 0.3s ease forwards;
}

.card__icon-button:focus,
.button:focus {
  outline: none;
}

.button:focus-visible {
  animation: button-focus 0.3s ease forwards;
}

.button:hover::before {
  position: absolute;
  mix-blend-mode: difference;
  z-index: 0;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color);
  transform-origin: left;
  transform: scaleX(0);
  animation: button-hover 0.5s ease-in-out forwards;
}

.button {
  font-family: var(--accent-font);
  border: 2px solid var(--main-color);
  position: relative;
  background-color: transparent;
}

.card__like-button {
  background-color: transparent;
  z-index: 2;
  mix-blend-mode: difference;
  width: 130px;
  height: 38px;
  align-self: center;
  align-content: center;
  font-family: "PressStart2P", serif;
  color: var(--color);
  font-size: 14px;
  border: 2px solid var(--color);
}

.footer-button{
  gap: 8px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  align-items: center;
  font-family: "PressStart2P", serif;
  font-size: 14px;
  margin: 50px auto 103px;
  border: 2px solid var(--main-color);
  width: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  height: clamp(5.25rem, 5.888rem + -2.723vw, 3.438rem);
  justify-self: center;
  align-self: center;
}


.footer__dec {
  width: 28px;
  height: 28px;
}
.contour {
  fill: var(--main-color);
}
.sparks {
  fill: transparent;
}
.core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}
.card__icon-button:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s;
}
.card__icon-button:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s;
}
.main-body {
  fill: transparent;
  transition: fill 0.3s;
}
.card__icon-button:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s 0.05s;
}
.card__icon-button:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .core {
  transition: fill 0.3s;
  fill: var(--heart-color)
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.05s;
  fill: var(--heart-color)
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s;
  fill: var(--heart-color);
}


.like-icon.is-liked .heart {
  transform-origin: center;
  animation: grow 0.3s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
} 

.modal[open] {
  width: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  display:flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: var(--background-color);
  color: var(--main-color);
}

.modal__text-container {
  display: flex;
  gap: 12px;
}

.floppy {
  flex-shrink: 0;
  align-self: center;
  width: 39px;
  height: 39px;
}

.modal__button {
  padding: 12.5px 0 ;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
} 